@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

.info {
  /* width: 50vw; */
  /* height: 644.2px; */
  margin-top: 11vh;
  margin-left: 15vw;
  max-width: 350px;

  /* gap: 24px; */
}

#welcome h1 {
  font-size: 50px;
  width: 100%;
  font-family: "Arial";
  font-weight: 700;
}

#welcome p {
  color: #7e8b9e;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.form-control {
  display: grid;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  height: 45px;
  /* padding: 12px, 16px, 12px, 16px; */
  margin: 8px 0;
  display: inline-block;
  border: 0.8px solid #ccc;
  border-radius: 6.36px;
  box-sizing: border-box;
}
.abc {
  width: 100%;
  height: 50%;
  font-size: 14px;
  line-height: 25.2px;
  color: #7e8b9e;
}

input[type="checkbox"] {
  width: 14px;
  height: 14px;
  border-radius: 1.59px;
  border: 0.8px;
}

.info button[type="submit"] {
  width: 100%;
  height: 9vh;
  background-color: #3568ff;
  color: white;
  padding: 12px, 8px, 12px, 8px;
  margin: 8px 0;
  border: none;
  border-radius: 6.36px;
  cursor: pointer;
}

#orlogins #g {
  width: 45%;
  height: 7.5vh;
  border-radius: 6.36px;
  border: 0.8px;
  padding: 10px, 20px, 10px, 20px;
  margin-right: 10px;
  cursor: pointer;
  display: flow;
}

#orlogins #m {
  width: 50%;
  height: 7.5vh;
  border-radius: 6.36px;
  border: 0.8px;
  padding: 10px, 20px, 10px, 20px;
  margin-left: 5px;
  cursor: pointer;
  display: flow;
}

.fromor p {
  max-width: 100%;
  text-align: center;
}

label {
  font-weight: 600;
}

#orlogins {
  display: flex;
}

.page img,
.info {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
